{% extends "layout.html" %}

{% block main %}

{% if not ok %}
  <span class="error-message">{{message}}</span>
{% endif %}

<h1>Config</h1>

<div class="" style="background-color:#eee; padding: 20px; float:right; width:45%">
  This is an example of how you configure the game and also shows all the options available.
  <a target="_blank" href="https://ddonline.co/2020/09/02/how-to-edit-the-game-config/">You can read more about the options here.</a>
  <code>
    {
      "boardSvgUrl": "/asset/_shared-Ghestpell.svg",
      "startPoint": [100,100],
      "assetSize": 60,
      "playerSize": 10,
      "moveStepSize": 5
    }
  </code>
</div>

<form method="post" style="width:45%;">
  <textarea name="boardJson" rows="20" style="width:100%">{{boardJson}}</textarea>
  <p>
    <button type="submit" id="config-save">Save</button>
  </p>
</form>

<h2>Reset</h2>

<form method="post" action="/{{room}}/reset">
  <button type="submit" id="reset-game">Reset Game</button>
</form>

{% endblock %}
