<html>
<body>

  <script type="text/javascript">
    function setCookie(cname, cvalue) {
      var d = new Date();
      d.setTime(d.getTime() + (30*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    document.addEventListener("DOMContentLoaded", function(event) {
      document.getElementById("room-btn").addEventListener("click", function(e) {
        var room = document.getElementById("room").value;
        var user = document.getElementById("user").value;
        setCookie("room", room);
        setCookie("user", user);
        setCookie("id", `${user}@${room}`);
        window.location.href = "/" + room;
      })
    });
  </script>

<div id="main">
  room: <input type="text" name="room" id="room" value="{{room}}">

  username: <input type="text" name="user" id="user" value="{{user}}">

  <button id="room-btn">Load Room</button>
</div>

</body>
</html>
