{% extends "layout-public.html" %}

{% block head %}
<style>
#main {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
</style>
{% endblock %}

{% block main %}
<div id="main">
  <form method='post'>
    <table cellpadding="5" cellspacing="5">
    <tr><td>Room</td><td><input type="text" name="room" id="room" value="{{room}}"> The more random the more secret</td></tr>
    <tr><td>Username</td><td><input type="text" name="user" id="user" value="{{user}}"> Use "GM" if you're the GM or DM</td></tr>
    <tr><td>Color</td><td><input type="text" name="color" id="color" value="{{color}}"> A unique color to identify your piece</td></tr>
    <tr><td>Email</td><td><input type="text" name="email" id="email" value="{{email}}"> For game-related communications</td></tr>
    <tr><td><button id="room-btn">Load Room</button></td></tr>
    </table>
  </form>
</div>

{% endblock %}
