<html>
<head>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    document.getElementById("room-btn").addEventListener("click", function(e) {
      var room = document.getElementById("room-name").value;
      window.location.href = "/" + room;
    })
  });
</script>
<style>
  html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding: 10px;
  }
</style>
</head>
<body>

<div id="main">
  <input type="text" name="room-name" id="room-name"> <button id="room-btn">Load Room</button>
</div>

</body>
</html>
