<html>
<head>
<style>
  html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }
  #menu {
    background-color: pink;
    padding: 10px;
  }
  canvas#camera {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }
</style>

<script type="module">
  import { start } from '/client/js/start.js';
  document.addEventListener("DOMContentLoaded", function(event) {
    start();
  });
</script>

{% block head %}
{% endblock %}

</head>

<body>

<div id="menu">
  <a href="/">dd</a> /
  <a href="/{{room}}">{{room}}</a> /
  <a href="/{{room}}/board">board</a> /
  <a href="/{{room}}/tiles">tiles</a> /
</div>

<div id="main">


{% block main %}
{% endblock %}


</div>

</body>
</html>
