<html>
<head>
<title>DD</title>

<style>
  html, body {
    margin: 0;
    padding: 0;
  }
  #menu {
    background-color: cyan;
    padding: 10px;
    z-index: 1;
    width: 100%;
  }
  #menu a {
    text-decoration: none;
  }
  #main {
    padding: 30px;
  }
</style>

{% block head %}
{% endblock %}

</head>

<body>

<div id="menu">
  <span style="padding: 5px; background-color:yellow; margin-right:10px;">{{user}}@{{room}}</span>
  <a href="/">Start</a> /
  <a href="/{{room}}">Board</a> /
  <a href="/{{room}}/commands">Commands</a> /
  {% if isDM %}
    <a href="/{{room}}/config">Config</a> /
    <a href="/{{room}}/asset">Assets</a> /
  {% endif %}
  {% block menu %}
  {% endblock %}
</div>

<div id="main">
{% block main %}
{% endblock %}
</div>

</body>
</html>
