<html>
<head>
<title>DD</title>
<script type="text/javascript" src="lib/snapsvg/dist/snap.svg-min.js"></script>
<script type="text/javascript" src="lib/snap.svg.zpd/snap.svg.zpd.js"></script>
<script type="module">
  import { Board } from '/client/js/ui/Board.js';
  import snapPlugin from '/client/js/ui/snap.plugin.js';
  document.addEventListener("DOMContentLoaded", function(event) {
    start();
  });
  async function loadSvg(url) {
    return new Promise(r => Snap.load(url, data => r(data)));
  }
  var t1 = 's 0.13432014772155568';
  async function start() {
    snapPlugin.setup();
    var paper = Snap("#board");
    //var svgData = await loadSvg('/asset/fartlips-goblin.svg');
    var board = new Board('DM', 'fartlips', '#board');
    board.config = {assetSize:60}
    console.log("drawAsset")
    await board.drawAsset({id:'a1',url:'/asset/fartlips-mime.svg'})
    var el = board.id2ElementTable['a1'];
    console.log("drawKillMark", el, el.transform())
    board.drawKillMark(el);
  }
</script>
</head>

<body>

<svg id="board" width="600" height="800" style="background-color:#ddd"></svg>

</body>
</html>
